@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&family=Montserrat:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
}

:root {
  --black: #000;
  --white: #fff;
  --green: #6bc38b;
  --bg: #1e2326;
  --btn-primary: #595959;
}

html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

header {
  height: 10rem;
  background-color: var(--black);
}

.header {
  max-width: 114rem;
  height: 10rem;
  margin: auto;
  display: flex;
  align-items: center;
}

.bo {
  border: 1px solid red;
}

.logoimg {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: bold;
  font-size: 2.5rem;
  padding: 1rem;
  cursor: pointer;
}

.logoimg span {
  color: #6bc38b;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.menu ul {
  display: flex;
}

.menu ul a {
  color: var(--green);
  text-transform: uppercase;
  font-weight: 600;
  height: 10rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 5px solid var(--black);
  font-size: 1.6rem;
}

.menu li a:hover {
  border-bottom: 5px solid var(--green);
}

.banner {
  height: calc(100vh - 10rem);
  background-color: var(--bg);
}

.banner .banner-content {
  width: 100vw;
  height: 100%;
}

.banner .banner-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.banner .banner-area h1 {
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 3rem;
}

.banner .banner-area h2 {
  color: var(--white);
  font-size: 5rem;
  text-transform: uppercase;
}

.banner .banner-area h2 span {
  color: var(--green);
}

.banner .banner-area h3 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: var(--white);
}

.banner .banner-area h3 span {
  color: var(--green);
}

.banner .banner-area .container-icons {
  display: flex;
  gap: 3rem;
}

.banner .banner-area .container-buttons {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}

.banner .container-icons {
  margin-bottom: 2rem;
}

.banner .container-icons img:hover {
  background-color: var(--green);
}

.banner .container-buttons .btn-primary {
  background-color: var(--btn-primary);
  color: var(--white);
  border: none;
  padding: 2rem 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 6rem;
  cursor: pointer;
  text-transform: uppercase;
}

.banner .container-buttons .btn-secondary {
  background-color: var(--green);
  color: var(--white);
  border: none;
  padding: 2rem 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 6rem;
  cursor: pointer;
  text-transform: uppercase;
}

.banner .container-buttons .btn-primary:hover {
  background-color: var(--white);
  color: var(--green);
}

.banner .container-buttons .btn-secondary:hover {
  background-color: var(--white);
  color: var(--green);
}
